<div class="row">
  <div class="col-lg-4">
    <img href="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTegOpHN8p5sWDIibx9Tsptu3KO-WfG95mdzP8JlJFNIVzbS7zo">
  </div>
  <div class="col-lg-8">
    <div class="weigh_in_header">
      <h1> Time for a Weight Check!</h2>
    </div>
    <div class="weigh_in-form">
      <%= form_for @weigh_in do |f| %>

        <%= f.label "How much do you weigh today?" %><br />
        <%= f.text_field :current_weight %>

        <%= f.label :weigh_in_image %>
        <%= f.file_field :weigh_in_image %>

        <% f.hidden_field :user_id %>

        <%= f.submit "submit" %>


      <% end %>
    </div>
  </div>
<!-- =======
<% end %> -->

</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

