<head>
<link href='http://fonts.googleapis.com/css?family=Alegreya+SC:400,900italic' rel='stylesheet' type='text/css'>
</head>

<body>
<div id= "index_background">
  <div id= "index_text_background"
    <strong><h1>THE GANG</h1></strong>
  </div>
</div>

</br>
</br>
</br>

<!-- Add in page splits at 20 users -->

<%= will_paginate @users %>

<!-- List of current users -->
<% @users.each do |user| %>
  <div class='row'>
    <div class="index_user">
      <div class='col-sm-2 col-xs-3'>
        <%= image_tag user.user_image.url(:small), :class => 'img-rounded' %>
      </div>
      <div class='col-sm-8 col-xs-9'>
        <h4><%= link_to user.name, user_path(user.id)%></h4>
        <%= user.about.truncate(50) %>
        <% if current_user.friend_with?(user) %>
          <p>Friends</p>
        <% elsif current_user.invited?(user) %>
          <p>Friendship Pending</p>
        <% elsif current_user.invited_by?(user) %>
          <p class='btn btn-mini'>Approve Friendship</p>
        <% else %>
          <%= link_to "Add friend", friendships_path(:user_id => user), :method => "post", :class => 'btn btn-mini' %>
        <% end %>
      </div>
    </div>
  </div>
<% if user != @users.last%>
<%else%>
</br>
</br>
<% end%>
<% end %>
<%= will_paginate @users %>
</body>

