<head>
<link href='http://fonts.googleapis.com/css?family=Alegreya+SC:400,900italic' rel='stylesheet' type='text/css'>
</head>

<body>
<div id= "index_background">
  <div id= "index_text_background"
    <strong><h1>THE GANG</h1></strong>
  </div>
</div>

</br>
</br>
</br>
</br>
<%= will_paginate @users %>
<% @users.each do |user| %>
  
  <div class='row'>
    <div class="index_user">
      <div class='col-sm-2 col-xs-3'>
        <%= image_tag user.user_image.url(:small), :class => 'img-rounded' %>
      </div>
      <div class='col-sm-8 col-xs-9'>
        <h4><%= link_to user.name, user_path(user.id)%></h4>
        <%= user.about.truncate(50) %>
      </div>
    </div>
  </div>
<% if user != @users.last%>
<%else%>
</br>
</br>
<% end%>
<% end %>
<%= will_paginate @users %>
</body>

