<!-- row 1 -->
  <div class="row first">
    <div class="col-xs-4 col-lg-3">
      <!-- profile pic -->
      <div>
        <% if @user.user_image.present? %>
            <%= image_tag @user.user_image.url(:medium).to_s, :class => 'img-thumbnail' %>
        <% else %>
          <img src="http://dummyimage.com/250x300&text=Add a profile picture!" alt="User Profile" class="img-responsive" alt="Responsive image"/> 
        <% end %>
      </div>
      <!-- user's name -->
      <div class="name"><p><%= @user.name %></p>
      </div>
    </div>
    <div class="col-xs-8 col-lg-9">
      <!-- Status statement -->
      <div class="row">
        <div class="col-xs-12">
          <h2 class="status">
            <% if @user.weigh_ins.count != nil && @user.goal_weight != nil %>
              I've got <%= @user.weight_until_goal %> lbs to go and I'm gettin' er done!
            <% elsif current_user.id != @user.id %>
              <%= @user.first_name %> hasn't added a goal weight yet. Maybe <%= @user.first_name %> needs some encouragement!
            <% else %>
              Add a goal weight!
            <% end %>
          </h2>
        </div>
      </div>
      <% if current_user.id == @user.id && @user.goal_weight != nil %>
        <div class="row">
          <div class="col-xs-12 weight-check-btn">
            <a href='/weigh_ins/new'><img src = "https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTegOpHN8p5sWDIibx9Tsptu3KO-WfG95mdzP8JlJFNIVzbS7zo" ></a>
          </div>
        </div>
      <% end %>
    </div> 
  </div>
<!-- row 2 -->
<div class="row">
  <div class="col-lg-9 col-lg-push-3">
  <% if current_user.friend_with?(@user) || current_user == @user %>
    <% @user.weigh_ins.each do |weigh_in| %>
      <!-- post 1 -->
      <div class="row post">
        <!-- post image -->
        <div class="col-s-0 col-lg-4">
          <%= image_tag weigh_in.weigh_in_image.url(:thumb), :class => 'img-rounded' %>
        </div>
        <!-- post content -->
        <div class="col-xs-10 col-lg-8">
          <!-- weight update -->
          <div class="row">
            <div class="col-lg-12">
              <p>
                <% if weigh_in.created_at.to_date == Date.today %>
                    Today I weighed <%= weigh_in.current_weight %> lbs!
                <% else %>
                  On <%= weigh_in.created_at.to_date.to_formatted_s(:rfc822) %>, I weighed <%= weigh_in.current_weight %> lbs
                <% end %>
              </p>
            </div>
          </div>
          <!-- keep on truckin -->
          <div class="row">
            <div class="col-lg-11">
              <p><strong class= "keep_number">0</strong> buckaroos have said "Keep on Truckin!"</p>
            </div>
            <div class="col-lg-1">
              <button type="button" class="btn btn-sm truckin_button">Keep On Truckin!</button>
            </div>
          </div> <!-- end keep on truckin -->
        </div> <!-- end post content -->
      </div> <!-- end post -->
    <% end %>
    <% else %>
      <h3>You need to be connected with <%= @user.name %> to view their checkins </h3>
    <% end %>
  </div>

<!-- start user about section -->
  <div class="col-lg-3 col-lg-pull-9">
    <% if current_user.friend_with?(@user) %>
      <p>Friends</p>
    <% elsif current_user.invited?(@user) %>
      <p>Friendship Pending</p>
    <% elsif current_user.invited_by?(@user) %>
      <%= link_to "Accept Friend", friendship_path(@user), :method => "put", :class => 'btn btn-mini' %>
      <%= link_to "Decline Friend", friendship_path(@user), :method => 'delete', :class => 'btn btn-mini' %>
    <% else %>
      
    <% end %>
      <h3>About <%= @user.first_name %></h3>
      <p><%= @user.about %></p>
      <h4>My Weightable Friends</h4>
      <% @user.friends.each do |friend| %>
        <img src="<%= friend.user_image%>" height="42" width="42">
        <%= link_to friend.name, user_path(friend.id) %> 
      </br>
      <% end %>
  </div>